/* header {
  background-color: #23714D;
  height: 100px;
  width: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
} */

header {
  background-color: #23714D;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 15vh;
}

section {
  background-color: #d59890;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: space-evenly;
  height: 50vh;
}

footer {
  background-color: #000000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 20vh;
  color: #E0E0E0;
  padding: 15px;
}